$picture-card-width: 400px;
$picture-card-height: 725px;
$picture-to-frame-padding: 45px;
$picture-to-card-margin: -16px;

.page-div {
  margin-top: 5px;
}

.picture-card {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: $picture-card-width;
  height: $picture-card-height;
  display: flex;
  flex-direction: column;
}

.picture {
  background-image: url("../../assets/gallery_frame_wtexture.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 5px $picture-to-card-margin;
  width: calc(100% - #{2 * ($picture-to-frame-padding) + 2 * ($picture-to-card-margin)});
  padding: $picture-to-frame-padding $picture-to-frame-padding;
}

.spacer {
  flex: 1 1 auto;
}

.description-card {
  align-self: center;
  width: calc(100% - 5px);
}

.buttons-card {
  align-self: center;
}
