<div class="page-div">
  <!-- Header -->
  <mat-card class="container-header">
    <mat-card-title>
      Lustige Bildchen - {{login_state}}
    </mat-card-title>
    <mat-divider [inset]="true"></mat-divider>
    <button mat-icon-button style="align-self: center;" color="primary" (click)="addPicture()" [disabled]="!login_state">
      <mat-icon style="font-size: 3em;">add_photo_alternate</mat-icon>
    </button>
  </mat-card>

  <!-- Picture Grid -->
  <mat-grid-list [cols]="numer_render_columns" rowHeight="780px" (window:resize)="onResize($event)">
    <mat-grid-tile class="tile" *ngFor="let picture of picturesMetadata">
      <mat-card class="picture-card">
        <!-- Title -->
        <mat-card-title>
          {{ picture.name }}
        </mat-card-title>
        <img class="picture" [src]="picture.file" style="height: 500px;">
        <!-- Content -->
        <mat-card-content>
          <mat-card class="description-card">
            {{ picture.description }}
          </mat-card>
        </mat-card-content>
        <span class="spacer"></span>

        <!-- Action Buttons -->
        <mat-card-actions class="buttons-card">
          <button mat-mini-fab style="margin-right: 5px;" color="accent" (click)="editPicture(picture)" [disabled]="!login_state">
            <mat-icon> edit </mat-icon>
          </button>
          <button mat-mini-fab style="margin-right: 5px;" color="warn" (click)="deletePicture(picture)" [disabled]="!login_state">
            <mat-icon> delete </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
