.page-div{
  margin-top: 5px;
}
.picture-card {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 400px;
  height: 725px;
  display: flex;
  flex-direction: column;
}
.spacer{
  flex: 1 1 auto;
}
.description-card{
  align-self: center;
  width: calc(100% - 5px);
}
.buttons-card{
  align-self: center;
}
