<div class="overview-container">
  <!-- Header/Intro -->
  <mat-card class="card">
    <mat-card-title>
      Die BroZ
    </mat-card-title>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <img class="topbar_center" src="../assets/logo_hq.png" style="max-width: 320px;">
      <div style="margin-top: 10px;">
        ... weil auch im salzigsten Acker vielleicht irgendwo ein Blümchen erblüht.
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Teamspeak3 Status -->
  <mat-card class="card">
    <mat-card-title>
      Teamspeak 3
    </mat-card-title>
    <mat-divider [inset]="true"></mat-divider>
    <p></p>
    <a href="ts3server://broz.wtf?port=9987" target="_blank"><img src="https://ts3index.com/banner/s410_262829.png"
        alt="TS3index.com" style="border-style: none;" /></a>
  </mat-card>

  <!-- MC-Sever Status -->
  <!--
  <mat-card class="card">
    <mat-card-title>
      Minecraft Server
    </mat-card-title>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list>
      <h3 mat-subheader>BroZ.wtf</h3>
      <mat-list-item class="server-info-item">
        <mat-icon mat-list-icon>description</mat-icon>
        {{ fullMCServerStatus.description }}
      </mat-list-item>
      <mat-list-item class="server-info-item">
        <mat-icon mat-list-icon>info</mat-icon>
        {{ (fullMCServerStatus.status == "success") ? (fullMCServerStatus.online ? "online" : "offline") : "unable to query" }}
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <h3 mat-subheader>Spieler</h3>
      <mat-list-item class="server-info-item">
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        {{ fullMCServerStatus.players.now }}/{{ fullMCServerStatus.players.max }}
      </mat-list-item>
      <mat-list-item class="server-info-item">
        <mat-icon mat-list-icon>toc</mat-icon>
        {{ fullMCServerStatus.players.names }}
      </mat-list-item>
    </mat-list>
  </mat-card>
  -->
</div>
