.overview-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.card {
  max-width: 300px;
  text-align: center;
  margin-top: 5px;
}

.github-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: fit-content;
  height: 20px;
  margin: 5px auto;
  padding: 0;

  border: 5px solid rgb(100, 100, 100);
  border-radius: 10px;
  background-color: rgb(100, 100, 100);
}

.github-card-icon {
  height: 25px;
  padding: 0 0.5em;
  margin-left: -5px;
}

.github-card-link {
  flex: 1 1 auto;
  height: 20px;
  width: 100%;
  margin-right: -5px;

  border: 5px solid rgb(120, 120, 120);
  border-radius: 10px;
}

.github-card-href {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;

  text-align: right;
  font-size: 14px;
}
