<head></head>

<body>
  <mat-toolbar class="topbar">
    <div class="topbar_left_wo"> </div>
    <img class="topbar_center" src="../assets/topbar_logo.png">
    <div class="topbar_right_wlogin">
      <div class="spacer"></div>
      <button mat-raised-button class="login-logout_button" color="accent" (click)="loginDialog()" *ngIf="getLoginState()">
        Login
      </button>
      <button mat-raised-button class="login-logout_button" color="accent" (click)="logout()" *ngIf="!getLoginState()">
        Logout
      </button>
    </div>
  </mat-toolbar>

  <div class="main-container">
    <nav mat-tab-nav-bar class="tab-group">
      <a mat-tab-link class="tab-content" *ngFor="let tab of navEntries" [routerLink]="tab.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        <div class="tab-label">
          <mat-icon class="tab-icon" [matBadge]="getBadgeCnt(tab)" [matBadgeHidden]="getBadgeHidden(tab)" matBadgeColor="warn" matBadgePosition="above before">{{tab.data.icon}}</mat-icon>
          {{tab.data.title}}
        </div>
      </a>
    </nav>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
