.tab-label {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.tab-icon {
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

$topbar-height: 45px;
$topbar-center-logo-width: 40px;
$mat-tab-height: 48px;

.topbar {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  height: $topbar-height;
  z-index: 100;
  outline: 2px solid black;
}

.topbar-left-wo {
  background-image: url("../assets/topbar_left_bw.png");
  background-position: center;
  z-index: 1;
  height: $topbar-height;
  width: 50%;
  flex: 1 1 auto;
}

.topbar-center {
  z-index: 2;
  height: $topbar-height;
  width: 100px;
  margin-right: (-$topbar-center-logo-width / 2);
  margin-left: (-$topbar-center-logo-width / 2);
}

.topbar-right-wlogin {
  background-image: url("../assets/topbar_right_fr.png");
  background-position: center;
  z-index: 1;
  height: $topbar-height;
  width: 50%;
  flex: 1 1 auto;
  display: flex;
}

.topbar-right {
  height: $topbar-height;
  width: 100%;
}

.login-logout-button {
  z-index: 3;
  padding: 0;
  margin-right: 3px;
  align-self: center;
  text-align: center;
  max-height: 35px;
  z-index: 3;
}

:host ::ng-deep .mat-tab-nav-bar {
  position: fixed;
  height: $mat-tab-height;
  width: 100%;
  z-index: 90;
  background-color: rgb(0, 0, 0, 0.8);
}

.main-container {
  position: fixed;
  height: calc(100vh - #{$topbar-height});
  width: 100%;
  top: $topbar-height;

  background-image: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content-container {
  position: fixed;
  overflow: auto;
  height: calc(100vh - #{$mat-tab-height + $topbar-height});
  width: 100%;
  top: $mat-tab-height + $topbar-height;
}
