<head></head>

<body class="content-page">
  <mat-toolbar class="toolbar" color="primary">
    <div class="banner_left_wo"> </div>
    <img class="banner_center" src="../assets/banner_center_logo.png">
    <div class="banner_right_wlogin">
      <div class="spacer"></div>
      <mat-card class="login_card" *ngIf="getLoginState()">
        <mat-form-field class="login_field">
          <input matInput type="password" [formControl]="password" (keydown.enter)="login()">
        </mat-form-field>
        <button mat-raised-button style="width: 3em;" color="accent" (click)="login()">
          Login
        </button>
      </mat-card>
      <button mat-raised-button class="logout_button" style="width: 3em;" color="accent" (click)="logout()"
        *ngIf="!getLoginState()">
        Logout
      </button>
    </div>
  </mat-toolbar>

  <mat-tab-group color="primary" backgroundColor="accent" dynamicHeight="false">
    <mat-tab class="tab-content">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon class="tab-icon">home</mat-icon>
          Überblick
        </div>
      </ng-template>
      <app-overview></app-overview>
    </mat-tab>
    <mat-tab class="tab-content">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon class="tab-icon">collections</mat-icon>
          Galerie
        </div>
      </ng-template>
      <app-gallery></app-gallery>
    </mat-tab>
    <mat-tab class="tab-content">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon class="tab-icon">sms</mat-icon>
          Zitate
        </div>
      </ng-template>
      <app-quotes></app-quotes>
    </mat-tab>
  </mat-tab-group>
</body>
