.tab-label {
  display: flex;
  align-items: center;
}

.tab-icon {
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

$topbar-height: 64px;
$topbar-center-logo-width: 40px;
$mat-tab-height: 48px;

.topbar {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  height: $topbar-height;
  z-index: 100;
}

:host ::ng-deep .mat-tab-group {
  position: absolute;
  top: $topbar-height;
  width: 100%;
  min-height: calc(100vh - #{$topbar-height});
}

:host ::ng-deep .mat-tab-header {
  position: fixed;
  width: 100%;
  z-index: 90;
  height: $mat-tab-height;
}

:host ::ng-deep .mat-tab-body-wrapper {
  position: absolute;
  top: $mat-tab-height;
  width: 100%;
  min-height: calc(100vh - #{$topbar-height + $mat-tab-height});
}

:host ::ng-deep .mat-tab-body {
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.tab-content {
  min-height: 100%;
}

.topbar_left_wo {
  background-image: url("../assets/topbar_left_bw.png");
  background-position: center;
  z-index: 1;
  height: $topbar-height;
  width: 50%;
  flex: 1 1 auto;
}

.topbar_center {
  z-index: 2;
  height: $topbar-height;
  margin-right: (-$topbar-center-logo-width / 2);
  margin-left: (-$topbar-center-logo-width / 2);
}

.topbar_right_wlogin {
  background-image: url("../assets/topbar_right_fr.png");
  background-position: center;
  z-index: 1;
  height: $topbar-height;
  width: 50%;
  flex: 1 1 auto;
  display: flex;
}

.topbar_right {
  height: $topbar-height;
  width: 100%;
}

.login-logout_button {
  z-index: 3;
  padding: 0;
  margin-right: 15px;
  align-self: center;
  max-height: 35px;
  z-index: 3;
}
