<head></head>

<body>
  <mat-toolbar class="topbar">
    <div class="topbar-left-wo"> </div>
    <img class="topbar-center" src="../assets/topbar_logo.png">
    <div class="topbar-right-wlogin">
      <div class="spacer"></div>
      <button mat-raised-button class="login-logout-button" color="primary" style="width: fit-content;"
        (click)="openSnackBar(login_state === 3 ? 'Rechte: Alle' : login_state === 2 ? 'Rechte: Nur Editieren' : 'error', 'OK')" *ngIf="login_state">
        {{login_state === 3 ? 'Admin' : login_state === 2 ? 'Bro' : 'error'}}
      </button>
      <button mat-raised-button class="login-logout-button" color="accent" (click)="loginDialog()" *ngIf="!login_state">
        Login
      </button>
      <button mat-raised-button class="login-logout-button" color="accent" (click)="logout()" *ngIf="login_state">
        Logout
      </button>
    </div>
  </mat-toolbar>

  <div class="main-container">
    <nav mat-tab-nav-bar class="tab-group">
      <a mat-tab-link class="tab-content" *ngFor="let tab of navEntries" [routerLink]="tab.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        <div class="tab-label">
          <mat-icon class="tab-icon" [matBadge]="getBadgeCnt(tab)" [matBadgeHidden]="getBadgeHidden(tab)" matBadgeColor="warn" matBadgePosition="above before">{{tab.data.icon}}</mat-icon>
          {{tab.data.title}}
        </div>
      </a>
    </nav>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
