table {
  width: 100%;
}
.page-card {
  margin-top: 5px;
}
.container-button-scores {
  margin: auto;
  display: flex;
}
.spacer {
  flex: 1 1 auto;
}
.container-top-scorer {
  margin-left: 1em;
}

.container-exp-scorer {
  text-align: right;
}

.mat-column-quote {
  word-wrap: break-word !important;
  white-space: unset !important;
  padding-left: 2em;
  padding-right: 2em;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-editActions {
  padding-left: 1em;
  min-width: 90px;
  text-align: right;
}
