<mat-card class="page-card" (window:resize)="onResize($event)">
  <!-- Header -->
  <mat-card-title>
    Angeblich lustige Zitate
  </mat-card-title>
  <mat-divider [inset]="true"></mat-divider>
  <div class="container-button-scores">
    <button mat-icon-button color="primary" (click)="addQuote()" [disabled]="getLoginState()">
      <mat-icon style="font-size: 3em;">add_comment</mat-icon>
    </button>
    <span class="spacer"></span>
    <!-- Score Display -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Top Score:
        </mat-panel-title>
        <mat-panel-description>
          <div class="container-top-scorer" *ngFor="let scorer of topScorerArray.slice(0, numer_shown_scorer)">
            {{scorer[0]}} - {{scorer[1]}}
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container-exp-scorer" *ngFor="let scorer of topScorerArray.slice(numer_shown_scorer)">
        <div>
          {{scorer[0]}} - {{scorer[1]}}
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterString">
    <button mat-button *ngIf="filterString" matSuffix mat-icon-button aria-label="Clear"
      (click)="filterString=''; this.dataSourceQuotes.filter=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <!-- Table -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceQuotes" matSort matSortActive="date" matSortDirection="desc">
      <!-- (matSortChange)="sortData($event)"> -->

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id + 1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Poet </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Quote Column -->
      <ng-container matColumnDef="quote">
        <th mat-header-cell *matHeaderCellDef> Zitat </th>
        <td mat-cell *matCellDef="let element"> {{element.quote}} </td>
      </ng-container>

      <!--Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
        <td mat-cell *matCellDef="let element"> {{element.date|date:'shortDate'}} </td>
      </ng-container>

      <!-- Edit Buttons Column -->
      <ng-container matColumnDef="editActions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab style="margin-right: 5px; margin-top: 1px;" color="accent" (click)="editQuote(element)"
            [disabled]="getLoginState()">
            <mat-icon> edit </mat-icon>
          </button>
          <button mat-mini-fab style="margin-right: 5px; margin-top: 1px; margin-bottom: 1px;" color="warn"
            (click)="deleteQuote(element)" [disabled]="getLoginState()">
            <mat-icon> delete </mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Columns to render -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20, 25, 30, dataSourceQuotes.data.length]" showFirstLastButtons>
    </mat-paginator>
  </div>
</mat-card>
