table {
  width: 100%;
  padding: 5px;
}

.page-card {
  margin-top: 5px;
}

.container-button-scores {
  margin: auto;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.container-top-scorer {
  align-self: center;
  margin-left: 1em;
}

.container-exp-scorer {
  text-align: right;
}

td.mat-cell:last-of-type {
  padding-right: 5px;
}
td.mat-cell:first-of-type {
  padding-left: 5px;
}

.mat-column-quote {
  word-wrap: break-word !important;
  white-space: unset !important;
  padding-right: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-id {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.mat-column-name {
  text-align: left;
  padding-right: 5px;
  overflow-wrap: break-word;
}

.mat-column-date {
  text-align: right;
  padding-right: 5px;
}

.mat-column-editActions {
  text-align: right;
  padding-right: 0.5em;
}
