table {
  width: 100%;
}
.card {
  margin-top: 5px;
}

.container-button-scores{
  margin: auto;
  display: flex;
}

.spacer{
  flex: 1 1 auto;
}

.container-all-scores{
  margin-left: 5px;
  display: flex;
}

.container-top-scorer{
  align-self: center;
  margin-left: 1em;
}
